<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Feature.Personalize.Processors.LoadRoutes,Feature.Personalize" patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" />
            </initialize>
        </pipelines>
        <services>
            <register serviceType="Feature.Personalize.Services.IPersonalizeConnectService, Feature.Personalize" implementationType="Feature.Personalize.Services.PersonalizeConnectService, Feature.Personalize" />
            <register serviceType="Feature.Personalize.Controllers.PersonalizeConnectController, Feature.Personalize" implementationType="Feature.Personalize.Controllers.PersonalizeConnectController, Feature.Personalize" />
        </services>
    </sitecore>
</configuration>